@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(0, 0%, 0%);
  --border-color: hsl(0, 0%, 15%);
  --header-height: 88px;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
}
